.body {
  padding: 10px 0;
  margin-left: 270px;
  z-index: 000;
  background: #fff;
}
.body h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #22a4e2 !important;
}
.body p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 10px 0 20px;
  color: #000000;
}
.body img,
video {
  max-width: 100%;
  width: 100%;
}

.body .playBtn,
.pauseBtn {
  font-size: 50px;
  cursor: pointer;
}
.body .playBtn {
}
